#password-helper-box {
    font-size: 15px;
    text-rendering: optimizeLegibility;
    text-align: left;
    width: 70%;
    height: 160px;
    position: fixed;
    bottom: 100px;
    right: 0;
    z-index: 9999;
}

#password-helper-box.password-helper-container .uk-h3.uk-card-title {
    font-size: 24px;
}

#password-helper-box.password-helper-container input.uk-input {
    font-size: 15px;
}

.password-helper-grid {
    display: flex;
    flex-direction: row;
}

.password-helper-grid.wrapping {
    flex-wrap: wrap;
    justify-content: flex-start;
}

.password-helper-pick-chars-button {
    min-width: 44px;
}

.password-helper-pick-chars-container {
    position: relative;
}

.password-helper-pick-chars-close {
    position: absolute;
    top: 0;
    right: 0;
}
