@font-face {
    font-family: 'Roboto';
    src: url('chrome-extension://__MSG_@@extension_id__/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Open Sans';
    src: url('chrome-extension://__MSG_@@extension_id__/OpenSans-Bold.ttf');
    font-weight: bold;
}

html > body > #password-helper-box * {
    font-family: 'Roboto', sans-serif !important;
    font-weight: normal;
    font-size: 15px;
    text-rendering: optimizeLegibility;
    text-align: left;
    -webkit-font-smoothing: antialiased;
}

#password-helper-box {
    width: 70%;
    height: 160px;
    position: fixed;
    bottom: 100px;
    right: 0;
    z-index: 9999;
}

#password-helper-box.password-helper-container .uk-h3.uk-card-title {
    font-family: 'Open Sans', sans-serif !important;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 8px;
}

#password-helper-box.password-helper-container .uk-h4.uk-card-title {
    font-size: 18px;
}

#password-helper-box.password-helper-container input.uk-input {
    font-size: 15px;
    box-shadow: none;
}

#password-helper-box.password-helper-container input.uk-input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, .7) !important;
}

#password-helper-box.password-helper-container ul.uk-list li {
    background-image: none;
    padding-left: 0;
}

.password-helper-container a {
    border-bottom: 0;
}

.password-helper-grid {
    display: flex;
    flex-direction: row;
}

.password-helper-grid.wrapping {
    flex-wrap: wrap;
    justify-content: flex-start;
}

.password-helper-pick-chars-button {
    font-size: 12px !important;
    text-align: center !important;
    min-width: 47px;
    min-height: 30px;
}

.password-helper-pick-chars-container {
    position: relative;
}

.password-helper-pick-chars-close {
    position: absolute;
    top: 0;
    right: 0;
}
